body {
    background-color: black;
    color: rgb(44, 255, 44);
    font-family: 'VT323', monospace;
}

p {
    position: absolute;
}

textarea {
    background-color: black;
    color: green;
    border: none;
    resize: none;
}

#cliWrapper {
    display: flex;
    margin-left: 1vw;
}

input {
    position: relative;
    background-color: black;
    color: rgb(44, 255, 44);
    border: none;
    top: -1px;
    height: 1rem;
    margin-left: 1vw;
    font-family: 'VT323', monospace;
    font-size: 1rem;
    width: 90vw;
}